<%- include("header") -%> 
    <div class="box" id="heading">
        <h1><%= dayname %></h1>
    </div>
    <div class="box">
        <% listItems.forEach(element => { %>
            <div class="item">
                <input type="checkbox">
                <p><%= element %> </p>
            </div>
        <% }) %>
        
        <form class="item" action="/kitchen" method="post">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button class="add" type="submit" name="btnlist" value="<%= dayname %>">+</button>
        </form>
    </div>
    <form class="sidebox" action="/check" method="post">
        <button class="btn-for-home home-btn btns" type="submit" name="tocheck" value="back">Back</button>
        <button class="btn-for-home home-btn reset btns" type="submit" name="tocheck" value="reset">Reset</button>
        <button class="btn-for-home home-btn btns" type="submit" name="tocheck" value="clear">Clear</button>
    </form>
<%- include("footer") -%>