<%- include("header") -%> 

    <div class="box" id="heading">
        <h1 class="h1-list"><%= identify %></h1>
        <p class="day-head"><%= daydate %></p>
    </div>
    <div class="box">
        <% listItems.forEach(element => { %>
            <div class="item">
                <input type="checkbox">
                <p><%= element %> </p>
            </div>
        <% }) %>
        
        <form class="item" action="/btnsubmit" method="post">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button class="add" type="submit" name="btnlist" value="<%= identify %>">+</button>
        </form>
    </div>
    <div class="sidebox">
        <form class="sidebox" action="/back" method="post">
            <button class="btn-for-home home-btn btns" type="submit">Back</button>    
        </form>
        <form class="sidebox" action="/reset" method="post">
            <button class="btn-for-home home-btn reset btns" type="submit" name="tocheck" value="<%= identify %>">Reset</button>
        </form>
        <form class="sidebox" action="/clear" method="post">
            <button class="btn-for-home home-btn btns" type="submit" name="tocheck" value="<%= identify %>">Clear</button>
        </form>
    </div>
<%- include("footer") -%>